@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --heading: 2rem;
  --lalcolor: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: tomato;
  overflow-x: hidden;
}

.wrapper {
  /* padding: 10px; */
  display: flex;
  position: relative;
  width: calc(100% * 5);
  height: 100%;
  animation: slider 5s infinite ease-in-out;
}

.imgs {
  width: 100%;
  height: 100%;
}
.imgs:nth-child(1) {
  background: url("https://wallpapercave.com/wp/wp8592139.jpg") center;
  background-size: cover;
  /* background-color: antiquewhite; */
}
.imgs:nth-child(2) {
  background: url("https://wallpapercave.com/uwp/uwp3752137.jpeg") center;
  background-size: cover;
  /* background-color: rgb(149, 255, 193); */
}
.imgs:nth-child(3) {
  background: url("https://wallpapercave.com/uwp/uwp4279325.jpeg") center;
  background-size: cover;
  /* background-color: rgb(255, 79, 79); */
}
.imgs:nth-child(4) {
  background: url("https://wallpapercave.com/uwp/uwp4279327.jpeg") center;
  background-size: cover;
  /* background-color: rgb(9, 149, 250); */
}
.imgs:nth-child(5) {
  background: url("https://wallpapercave.com/wp/wp8592139.jpg") center;
  background-size: cover;
  /* background-color: rgb(129, 23, 123); */
}
/* .imgs:nth-child(6) {
    background-color: rgb(77, 210, 68);
    } */
.imgs img {
  width: 80%;
  height: 100%;
  opacity: 0.5;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

main {
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.5);
  position: absolute;
  /* right: 50px; */
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-content {
  width: 45%;
  /* height: 60%; */
  padding: 0px 20px;
  background-color: rgba(241, 237, 237, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  /* overflow: hidden; */
}
nav {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  /* background-color: aquamarine; */
  padding: 20px 0px;
  height: 5em;
  /* margin-top: 10px; */
}
.searchBar {
  width: 80%;
  min-width: 17em;
  height: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 253, 253, 0.5);
}
.search-btn {
  width: 20%;
  min-width: 7em;
  height: 100%;
  border: none;
  padding: 5px;
  font-family: inherit;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  background-color: rgb(55, 96, 154);
}

#result-box {
  /* height: 22em; */
  width: 100%;
  /* background-color: azure; */
}
.error {
  color: rgb(6, 6, 6);
  padding: 5px 0px;
  text-align: start;
}
.maincontent-1 {
  width: 100%;
  height: 60%;
  /* background-color: aquamarine; */
  display: flex;
}
.poster {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  /* background-color: burlywood; */
}
.poster img {
  width: 100%;
}
.information {
  width: 60%;
  font-weight: 500;
  /* height: 100%; */
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.movieName {
  font-size: var(--heading);
  font-weight: 700;
}
.imdbrating {
  font-size: 1.5rem;
  font-weight: 600;
}
.ratedyeartime {
  display: flex;
  gap: 1.5rem;
}

.maincontent-2 {
  width: 100%;
  padding: 5px 0px;
  height: 40%;
  /* background-color: blueviolet; */
}
.movieSummary {
  font-weight: 400;
}
.movieCast {
  font-weight: 400;
  /* padding: 5px 0px; */
  margin: 8px 0px;
}
.mssg {
  text-align: center;
}
@media screen and (max-width: 600px) {
  main {
    padding: 2em;
  }

  .movie-content {
    width: auto;
  }
  .information {
    padding: 0px 10px;
    text-align: center;
  }
}
